<!DOCTYPE html>
<html ng-app="todoApp" ng-controller="LayoutController as layout">
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>To-Do App</title>
  </head>
  <body class="bg-[#f1f1f3]">
    <div
      ng-if="layout.isLoginPage"
      class="p-2 h-screen flex text-zinc-100 text-[20px]"
    >
      <div ng-view></div>
    </div>

    <div
      ng-if="!layout.isLoginPage"
      ng-include="'app/layout/default.html'"
    ></div>

    <!-- AngularJS -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>

    <!-- App -->
    <script src="app/app.module.js"></script>
    <script src="app/app.routes.js"></script>

    <!-- Core -->
    <script src="app/core/request.interceptor.js"></script>
    <script src="app/core/utils.service.js"></script>
    <script src="app/core/filters.js"></script>

    <!-- Layout -->
    <script src="app/layout/controllers/layout.controller.js"></script>

    <!-- Auth -->
    <script src="app/pages/auth/services/auth.service.js"></script>
    <script src="app/pages/auth/controllers/login.controller.js"></script>
    <script src="app/pages/auth/components/login.component.js"></script>

    <!-- Home -->
    <script src="app/pages/home/components/home.component.js"></script>

    <!-- Task -->
    <script src="app/pages/task/services/task.service.js"></script>
    <script src="app/pages/task/controllers/task.controller.js"></script>
    <script src="app/pages/task/components/task.component.js"></script>
    <script src="app/pages/task/components/task-new-form.component.js"></script>
    <script src="app/pages/task/components/task-edit-form.component.js"></script>
    <script src="app/pages/task/components/task-card.component.js"></script>

    <!-- User -->
    <script src="app/pages/user/controllers/user.controller.js"></script>
    <script src="app/pages/user/components/user.component.js"></script>
  </body>
</html>
